<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



</head>
<body>

<script language="JavaScript" type="text/javascript">
    var xMLHttpRequest = new XMLHttpRequest();

    function addUserToDB(){}
</script>

<label>username</label>
<input type="text" id="username" size="20"/>
<br />
<label>first name</label>
<input type="text" id="firstName" size="20"/>
<br />
<label>last name</label>
<input type="text" id="lastName" size="20"/>
<br />
<label>password</label>
<input type="text" id="password" size="20"/>
<br />
<button type="button" onclick='addUserToDB();'>Add user</button>

</body>
</html>